In [1]:
#import sys
#!{sys.executable} -m pip install pandas
import pandas as pd

### NOTE: Make sure you run all cells when editing + re-running code

In [2]:
matchups = pd.read_csv("Kaggle Data/Tournament Matchups.csv")
print(matchups.head())
shooting_splits = pd.read_csv("Kaggle Data/Shooting Splits.csv")
shooting_splits.head()

   YEAR  BY YEAR NO  BY ROUND NO  TEAM NO           TEAM  SEED  ROUND  \
0  2025        2162         2166     1141         Auburn     1      1
1  2025        2161         2165     1145    Alabama St.    16     64
2  2025        2160         2164     1141         Auburn     1      1
3  2025        2159         2163     1099  Saint Francis    16     64
4  2025        2158         2162     1119     Louisville     8      1

   CURRENT ROUND  SCORE
0             64    NaN
1             64    NaN
2             64    NaN
3             64    NaN
4             64    NaN

,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
0,2025,1147,2,Akron,MAC,85.9,7.0,80.0,3.7,61.8,...,24,66,22,56,61,8,20,14,28,26
1,2025,1146,3,Alabama,SEC,90.4,13.7,88.7,7.9,62.4,...,35,30,1,66,53,60,34,12,13,9
2,2025,1145,4,Alabama St.,SWAC,77.0,5.2,81.0,5.6,53.1,...,41,50,67,39,41,21,56,20,49,36
3,2025,1144,6,American,Pat,76.2,2.2,94.9,3.6,58.5,...,62,58,37,37,43,36,32,16,52,13
4,2025,1143,8,Arizona,B12,95.3,9.5,85.7,6.9,65.9,...,28,6,46,19,47,54,60,57,52,48

In [3]:
filtered = matchups[['YEAR', 'TEAM NO', 'TEAM', 'SEED', 'CURRENT ROUND', 'SCORE']]

team1 = filtered.iloc[::2].reset_index(drop=True)  # Rows 0,2,4,...
team2 = filtered.iloc[1::2].reset_index(drop=True)  # Rows 1,3,5,...

#combine datasets to create one row for each game
combined = pd.concat([team1.add_suffix('1'), team2.add_suffix('2')], axis=1)

In [4]:
#select columns from shooting splits i want
# shooting_splits = shooting_splits[[ 'TEAM NO',
#     'DUNKS FG%', 'DUNKS SHARE', 'DUNKS FG%D', 'DUNKS D SHARE',
#     'CLOSE TWOS FG%', 'CLOSE TWOS SHARE', 'CLOSE TWOS FG%D', 'CLOSE TWOS D SHARE',
#     'FARTHER TWOS FG%', 'FARTHER TWOS SHARE', 'FARTHER TWOS FG%D', 'FARTHER TWOS D SHARE',
#     'THREES FG%', 'THREES SHARE', 'THREES FG%D', 'THREES D SHARE',
#     'DUNKS FG% RANK', 'DUNKS SHARE RANK', 'DUNKS FG%D RANK', 'DUNKS D SHARE RANK',
#     'CLOSE TWOS FG% RANK', 'CLOSE TWOS SHARE RANK', 'CLOSE TWOS FG%D RANK', 'CLOSE TWOS D SHARE RANK',
#     'FARTHER TWOS FG% RANK', 'FARTHER TWOS SHARE RANK', 'FARTHER TWOS FG%D RANK', 'FARTHER TWOS D SHARE RANK',
#     'THREES FG% RANK', 'THREES SHARE RANK', 'THREES FG%D RANK', 'THREES D SHARE RANK'
# ]]

shooting_splits = shooting_splits[[ 'TEAM NO',
    'DUNKS FG%' ]]

# Merge shooting splits for TEAM1
combined = combined.merge(shooting_splits.add_suffix('1'), left_on='TEAM NO1', right_on='TEAM NO1', how='left')

# Merge shooting splits for TEAM2
combined = combined.merge(shooting_splits.add_suffix('2'), left_on='TEAM NO2', right_on='TEAM NO2', how='left')

#set winning team each row
combined.loc[combined['SCORE1'] > combined['SCORE2'], 'WINNER'] = 0
combined.loc[combined['SCORE1'] < combined['SCORE2'], 'WINNER'] = 1

#drop redundant columns
combined.drop('CURRENT ROUND2', axis=1, inplace=True)
combined.drop('YEAR2', axis=1, inplace=True)

combined.rename(columns={'YEAR1': 'YEAR', 'CURRENT ROUND1': 'CURRENT ROUND'}, inplace=True)

combined.head()

,YEAR,TEAM NO1,TEAM1,SEED1,CURRENT ROUND,SCORE1,TEAM NO2,TEAM2,SEED2,SCORE2,DUNKS FG%1,DUNKS FG%2,WINNER
0,2025,1141,Auburn,1,64,NaN,1145,Alabama St.,16,NaN,86.1,77.0,NaN
1,2025,1141,Auburn,1,64,NaN,1099,Saint Francis,16,NaN,86.1,88.9,NaN
2,2025,1119,Louisville,8,64,NaN,1134,Creighton,9,NaN,85.8,90.6,NaN
3,2025,1114,Michigan,5,64,NaN,1089,UC San Diego,12,NaN,89.9,84.1,NaN
4,2025,1092,Texas A&M,4,64,NaN,1080,Yale,13,NaN,92.8,86.5,NaN

In [5]:
combined.drop(['SCORE1', 'SCORE2'], axis=1, inplace=True)

In [6]:

# Combine all team names from TEAM1 and TEAM2 into one list and get unique names
all_teams = pd.concat([combined['TEAM1'], combined['TEAM2']],axis=0).unique()

# Create a mapping from team name to unique number
team_to_id = {team: idx for idx, team in enumerate(all_teams)}

# Replace team names in TEAM1 and TEAM2 using the mapping
combined['TEAM1_ID'] = combined['TEAM1'].map(team_to_id)
combined['TEAM2_ID'] = combined['TEAM2'].map(team_to_id)

In [7]:
print(combined.head())

   YEAR  TEAM NO1       TEAM1  SEED1  CURRENT ROUND  TEAM NO2          TEAM2  \
0  2025      1141      Auburn      1             64      1145    Alabama St.
1  2025      1141      Auburn      1             64      1099  Saint Francis
2  2025      1119  Louisville      8             64      1134      Creighton
3  2025      1114    Michigan      5             64      1089   UC San Diego
4  2025      1092   Texas A&M      4             64      1080           Yale

   SEED2  DUNKS FG%1  DUNKS FG%2  WINNER  TEAM1_ID  TEAM2_ID
0     16        86.1        77.0     NaN         0       125
1     16        86.1        88.9     NaN         0       126
2      9        85.8        90.6     NaN         1        41
3     12        89.9        84.1     NaN         2       127
4     13        92.8        86.5     NaN         3        99

In [8]:
# Save the combined DataFrame to a CSV file
combined.to_csv("Games.csv", index=False)